<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>area</title>
	</head>

	<body>
		<div style="text-align: -webkit-center;">
			<form action="" method="post">
				<table>
					<tr>
						<td>
							<lable id="l_a1">地区中文名</lable>
						</td>
						<td> <input id="i_1" type="text" name="name" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a2">地区编码</lable>
						</td>
						<td> <input id="i_2" type="text" name="code" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a3">地区描述</lable>
						</td>
						<td> <input id="i_3" type="text" name="desc" /></td>
					</tr>
					<!--<tr>
						<td>
							<lable id="l_a4">remark</lable>
						</td>
						<td> <input id="i_4" type="text" name="remark" /></td>
					</tr>-->
					<tr>
						<td>
							<lable id="l_a5">负责的FMR</lable>
						</td>
						<td>
							<select id="s_5" type="text" name="fmr_id"></select>
						</td>
					</tr>
					<tr>
						<td>
							<lable id="l_a6">负责的QC</lable>
						</td>
						<td>
							<select id="s_6" type="text" name="qc_id"></select>
						</td>
					</tr>
				</table> <input type="submit" value="submit" /> </form>
		</div>
	</body>

</html>