<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>code</title>
	</head>

	<body>
		<div style="text-align: -webkit-center;">
			<form action="" method="post">
				<table>
					<tr>
						<td>
							<lable id="l_a1">类别编码</lable>
						</td>
						<td> <input id="i_1" type="text" name="category_code" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a2">一类</lable>
						</td>
						<td> <input id="i_2" type="text" name="first" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a3">二类</lable>
						</td>
						<td> <input id="i_3" type="text" name="second" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a4">三类</lable>
						</td>
						<td> <input id="i_4" type="text" name="third" /></td>
					</tr>
					<!--<tr>
						<td>
							<lable id="l_a5">remark</lable>
						</td>
						<td> <input id="i_5" type="text" name="remark" /></td>
					</tr>-->
					<tr>
						<td>
							<lable id="l_a6">所属地区</lable>
						</td>
						<td>
							<select id="s_6" type="text" name="area_id"></select>
						</td>
					</tr>
					<tr>
						<td>
							<lable id="l_a7">所属部门</lable>
						</td>
						<td>
							<select id="s_7" type="text" name="department_id"></select>
						</td>
					</tr>
				</table> <input type="submit" value="submit" /> </form>
		</div>
	</body>

</html>