<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>export_country</title>
	</head>

	<body>
		<div style="text-align: -webkit-center;">
			<form action="" method="post">
				<table>
					<tr>
						<td>
							<lable id="l_a1">国家中文名</lable>
						</td>
						<td> <input id="i_1" type="text" name="name" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a2">国家编码</lable>
						</td>
						<td> <input id="i_2" type="text" name="code" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a3">国家英文名</lable>
						</td>
						<td> <input id="i_3" type="text" name="ename" /></td>
					</tr>
					<!--<tr>
						<td>
							<lable id="l_a4">remark</lable>
						</td>
						<td> <input id="i_4" type="text" name="remark" /></td>
					</tr>-->
				</table> <input type="submit" value="submit" /> </form>
		</div>
	</body>

</html>