<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>factory_quote</title>
	</head>

	<body>
		<div style="text-align: -webkit-center;">
			<form action="" method="post">
				<table>
					<tr>
						<td>
							<lable id="l_a1">工厂Item NO</lable>
						</td>
						<td> <input id="i_1" type="text" name="factory_number" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a2">工厂报价</lable>
						</td>
						<td> <input id="i_2" type="text" name="cost" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a3">品名</lable>
						</td>
						<td> <input id="i_3" type="text" name="sample_desc" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a4">是否默认报价</lable>
						</td>
						<td> <input id="i_4" type="text" name="is_default_quote" /></td>
					</tr>
					<!--<tr>
						<td>
							<lable id="l_a5">insert_date</lable>
						</td>
						<td> <input id="i_5" type="text" name="insert_date" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a6">is_check_ok</lable>
						</td>
						<td> <input id="i_6" type="text" name="is_check_ok" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a7">not_reason</lable>
						</td>
						<td> <input id="i_7" type="text" name="not_reason" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a8">check_date</lable>
						</td>
						<td> <input id="i_8" type="text" name="check_date" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a9">remark</lable>
						</td>
						<td> <input id="i_9" type="text" name="remark" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a10">check_staff_id</lable>
						</td>
						<td>
							<select id="s_10" type="text" name="check_staff_id"></select>
						</td>
					</tr>-->
					<tr>
						<td>
							<lable id="l_a11">工厂报价的货币</lable>
						</td>
						<td>
							<select id="s_11" type="text" name="currency_id"></select>
						</td>
					</tr>
					<tr>
						<td>
							<lable id="l_a12">报价工厂</lable>
						</td>
						<td>
							<select id="s_12" type="text" name="factory_id"></select>
						</td>
					</tr>
					<!--<tr>
						<td>
							<lable id="l_a13">input_staff_id</lable>
						</td>
						<td>
							<select id="s_13" type="text" name="input_staff_id"></select>
						</td>
					</tr>-->
					<tr>
						<td>
							<lable id="l_a14">单PCS包装材质</lable>
						</td>
						<td>
							<select id="s_14" type="text" name="pack_texture_id"></select>
						</td>
					</tr>
					<!--<tr>
						<td>
							<lable id="l_a15">quote_staff_id</lable>
						</td>
						<td>
							<select id="s_15" type="text" name="quote_staff_id"></select>
						</td>
					</tr>-->
					<tr>
						<td>
							<lable id="l_a16">样品Item No</lable>
						</td>
						<td>
							<select id="s_16" type="text" name="sample_id"></select>
						</td>
					</tr>
					<tr>
						<td>
							<lable id="l_a17">出口方式</lable>
						</td>
						<td>
							<select id="s_17" type="text" name="shipping_method_id"></select>
						</td>
					</tr>
					<tr>
						<td>
							<lable id="l_a18">出货港口</lable>
						</td>
						<td>
							<select id="s_18" type="text" name="shipping_port_id"></select>
						</td>
					</tr>
				</table> <input type="submit" value="submit" /> </form>
		</div>
	</body>

</html>