<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>factory</title>
	</head>

	<body>
		<div style="text-align: -webkit-center;">
			<form action="" method="post">
				<table>
					<tr>
						<td>
							<lable id="l_a1">工厂代码</lable>
						</td>
						<td> <input id="i_1" type="text" name="code" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a2">联系人</lable>
						</td>
						<td> <input id="i_2" type="text" name="contact" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a3">工厂中文全名</lable>
						</td>
						<td> <input id="i_3" type="text" name="name" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a4">工厂英文名</lable>
						</td>
						<td> <input id="i_4" type="text" name="ename" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a5">所在国家</lable>
						</td>
						<td> <input id="i_5" type="text" name="country" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a6">所在省份</lable>
						</td>
						<td> <input id="i_6" type="text" name="province" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a7">所在城市</lable>
						</td>
						<td> <input id="i_7" type="text" name="city" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a8">传真</lable>
						</td>
						<td> <input id="i_8" type="text" name="fax" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a9">电话</lable>
						</td>
						<td> <input id="i_9" type="text" name="tel" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a10">所在街道</lable>
						</td>
						<td> <input id="i_10" type="text" name="street" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a11">邮箱地址</lable>
						</td>
						<td> <input id="i_11" type="text" name="email" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a12">所在地邮编</lable>
						</td>
						<td> <input id="i_12" type="text" name="post_code" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a13">备注</lable>
						</td>
						<td> <input id="i_13" type="text" name="fac_remark" /></td>
					</tr>
					<!--<tr>
						<td>
							<lable id="l_a14">fac_master</lable>
						</td>
						<td> <input id="i_14" type="text" name="fac_master" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a15">fac_assess</lable>
						</td>
						<td> <input id="i_15" type="text" name="fac_assess" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a16">arrive_type</lable>
						</td>
						<td> <input id="i_16" type="text" name="arrive_type" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a17">insert_date</lable>
						</td>
						<td> <input id="i_17" type="text" name="insert_date" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a18">is_check</lable>
						</td>
						<td> <input id="i_18" type="text" name="is_check" /></td>
					</tr>-->
					<!--<tr>
						<td>
							<lable id="l_a19">remark</lable>
						</td>
						<td> <input id="i_19" type="text" name="remark" /></td>
					</tr>-->
					<tr>
						<td>
							<lable id="l_a20">所在地区代号</lable>
						</td>
						<td>
							<select id="s_20" type="text" name="area_id"></select>
						</td>
					</tr>
					<tr>
						<td>
							<lable id="l_a21">进出口公司代码</lable>
						</td>
						<td>
							<select id="s_21" type="text" name="export_company_code_id"></select>
						</td>
					</tr>
					<!--<tr>
						<td>
							<lable id="l_a22">fac_texture_id</lable>
						</td>
						<td>
							<select id="s_22" type="text" name="fac_texture_id"></select>
						</td>
					</tr>
					<tr>
						<td>
							<lable id="l_a23">fmr_id</lable>
						</td>
						<td>
							<select id="s_23" type="text" name="fmr_id"></select>
						</td>
					</tr>-->
				</table> <input type="submit" value="submit" /> </form>
		</div>
	</body>

</html>