<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>staff</title>
	</head>

	<body>
		<div style="text-align: -webkit-center;">
			<form action="" method="post">
				<table>
					<tr>
						<td>
							<lable id="l_a1">员工中文名</lable>
						</td>
						<td> <input id="i_1" type="text" name="name" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a2">英文名</lable>
						</td>
						<td> <input id="i_2" type="text" name="ename" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a3">职员英文缩写</lable>
						</td>
						<td> <input id="i_3" type="text" name="emp_ename" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a4">考勤卡号</lable>
						</td>
						<td> <input id="i_4" type="text" name="emp_no" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a5">身份证号</lable>
						</td>
						<td> <input id="i_5" type="text" name="id_card" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a6">性别</lable>
						</td>
						<td> <input id="i_6" type="text" name="sex" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a7">出生日期</lable>
						</td>
						<td> <input id="i_7" type="text" name="birthday" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a8">婚否</lable>
						</td>
						<td> <input id="i_8" type="text" name="is_marry" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a9">毕业学校</lable>
						</td>
						<td> <input id="i_9" type="text" name="graduate_school" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a10">毕业时间</lable>
						</td>
						<td> <input id="i_10" type="text" name="graduate_date" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a11">所学专业</lable>
						</td>
						<td> <input id="i_11" type="text" name="major" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a12">学历</lable>
						</td>
						<td> <input id="i_12" type="text" name="education" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a13">家乡</lable>
						</td>
						<td> <input id="i_13" type="text" name="hometown" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a14">详细地址</lable>
						</td>
						<td> <input id="i_14" type="text" name="addr" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a15">家乡联系电话</lable>
						</td>
						<td> <input id="i_15" type="text" name="home_tel" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a16">联系电话</lable>
						</td>
						<td> <input id="i_16" type="text" name="phone" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a17">应聘日期</lable>
						</td>
						<td> <input id="i_17" type="text" name="offer_date" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a18">入职日期</lable>
						</td>
						<td> <input id="i_18" type="text" name="join_date" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a19">聘用形式</lable>
						</td>
						<td> <input id="i_19" type="text" name="staff_form" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a20">转正日期</lable>
						</td>
						<td> <input id="i_20" type="text" name="become_real_date" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a21">合同终止日期</lable>
						</td>
						<td> <input id="i_21" type="text" name="contract_end_date" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a22">离职时间</lable>
						</td>
						<td> <input id="i_22" type="text" name="quit_date" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a23">离职原因</lable>
						</td>
						<td> <input id="i_23" type="text" name="quit_reason" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a24">离职延时时间</lable>
						</td>
						<td> <input id="i_24" type="text" name="quit_extend_date" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a25">离职补充说明</lable>
						</td>
						<td> <input id="i_25" type="text" name="quit_remark" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a26">离职时财务是否结清</lable>
						</td>
						<td> <input id="i_26" type="text" name="clear" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a27">数学成绩</lable>
						</td>
						<td> <input id="i_27" type="text" name="math_score" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a28">英语成绩</lable>
						</td>
						<td> <input id="i_28" type="text" name="english_score" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a29">备用</lable>
						</td>
						<td> <input id="i_29" type="text" name="level" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a30">职称</lable>
						</td>
						<td> <input id="i_30" type="text" name="titled" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a31">email地址</lable>
						</td>
						<td> <input id="i_31" type="text" name="email" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a32">直接主管</lable>
						</td>
						<td> <input id="i_32" type="text" name="charge" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a33">代理主管</lable>
						</td>
						<td> <input id="i_33" type="text" name="agent_charge" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a34">经理</lable>
						</td>
						<td> <input id="i_34" type="text" name="manager" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a35">公司代理经理</lable>
						</td>
						<td> <input id="i_35" type="text" name="agent_manager" /></td>
					</tr>
					<!--<tr>
						<td>
							<lable id="l_a36">remark</lable>
						</td>
						<td> <input id="i_36" type="text" name="remark" /></td>
					</tr>-->
					<tr>
						<td>
							<lable id="l_a37">所属公司</lable>
						</td>
						<td>
							<select id="s_37" type="text" name="company_id"></select>
						</td>
					</tr>
					<tr>
						<td>
							<lable id="l_a38">所属部门</lable>
						</td>
						<td>
							<select id="s_38" type="text" name="department_id"></select>
						</td>
					</tr>
					<tr>
						<td>
							<lable id="l_a39">职务</lable>
						</td>
						<td>
							<select id="s_39" type="text" name="position_id"></select>
						</td>
					</tr>
				</table> <input type="submit" value="submit" /> </form>
		</div>
	</body>

</html>