<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>texture_process</title>
	</head>

	<body>
		<div style="text-align: -webkit-center;">
			<form action="" method="post">
				<table>
					<tr>
						<td>
							<lable id="l_a1">进度中文描述</lable>
						</td>
						<td> <input id="i_1" type="text" name="texture_process" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a2">进度未完成部分中文描述</lable>
						</td>
						<td> <input id="i_2" type="text" name="not_in_process" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a3">进度完成所需时间</lable>
						</td>
						<td> <input id="i_3" type="text" name="ahead_days" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a4">产品进度英文代码</lable>
						</td>
						<td> <input id="i_4" type="text" name="code" /></td>
					</tr>
					<!--<tr>
						<td>
							<lable id="l_a5">remark</lable>
						</td>
						<td> <input id="i_5" type="text" name="remark" /></td>
					</tr>-->
					<tr>
						<td>
							<lable id="l_a6">材质ID</lable>
						</td>
						<td>
							<select id="s_6" type="text" name="texture_id"></select>
						</td>
					</tr>
				</table> <input type="submit" value="submit" /> </form>
		</div>
	</body>

</html>