<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>unit</title>
	</head>

	<body>
		<div style="text-align: -webkit-center;">
			<form action="" method="post">
				<table>
					<tr>
						<td>
							<lable id="l_a1">单位名称</lable>
						</td>
						<td> <input id="i_1" type="text" name="name" /></td>
					</tr>
					<tr>
						<td>
							<lable id="l_a2">单位符号</lable>
						</td>
						<td> <input id="i_2" type="text" name="sign" /></td>
					</tr>
					<!--<tr>
						<td>
							<lable id="l_a3">remark</lable>
						</td>
						<td> <input id="i_3" type="text" name="remark" /></td>
					</tr>-->
				</table> <input type="submit" value="submit" /> </form>
		</div>
	</body>

</html>