<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>开发单</title>

    <script src="/static/js/2.1.4jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/tongyong.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/md5.js"></script>
    <link rel="stylesheet" href="/static/css/button.css">
    <script type="text/javascript" src="/static/js/select2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/select2.min.css"/>
    <script type="text/javascript">
        $(function () {
            setLanguage();
            var data = {{ data|safe }};
            var number = $('#i_1').val(); //开发单号
            var receive_date = $('#i_2').val(); //收到时间
            var text = "";
            for (var i = 0; i < data.data.Category.length; i++) {
                text += "<option value=\"" + data.data.Category[i].fields.code + "\">" + data.data.Category[i].fields.code + "</option>";
            }
            $('#s_10').append(text);
            text = "";
            for (var i = 0; i < data.data.Staff.length; i++) {
                text += "<option value=\"" + data.data.Staff[i].fields.name + "\">" + data.data.Staff[i].fields.name + "</option>";
            }
            $('#s_13').append(text);
            $('#s_17').append(text);
            text = "";
            for (var i = 0; i < data.data.Customer.length; i++) {
                text += "<option value=\"" + data.data.Customer[i].fields.code + "\">" + data.data.Customer[i].fields.code + "</option>";
            }
            $('#s_11').append(text);
            text = "";
            for (var i = 0; i < data.data.Department.length; i++) {
                text += "<option value=\"" + data.data.Department[i].fields.name + "\">" + data.data.Department[i].fields.name + "</option>";
            }
            $('#s_12').append(text);

            text = "";
            for (var i = 0; i < data.data.Develop_function.length; i++) {
                text += "<option value=\"" + data.data.Develop_function[i].fields.func_name + "\">" + data.data.Develop_function[i].fields.func_name + "</option>";
            }
            $('#s_14').append(text);
            $.getScript('/static/js/select.js', function () {
                {#setSelect(['s_10', 's_13', 's_17', 's_11', 's_12', 's_14']);#}
                setSelect(['s_10', 's_11','s_12','s_17','s_14','s_13'])
            });
            $('select').css('width','200px');

            var category = $('#s_10').val(); //开发系列
            var developer = $('#s_13').val(); //开发人员
            var customer = $('#s_11').val(); //客户
            var season = $('#i_4').val(); //开发季节
            var department = $('#s_12').val(); //开发部门
            var functions = $('#s_14').val(); //开发用途
            var undertake = $('#s_17').val(); //承办员
            {% comment %}var sketch_name=$('#s_18').val()//类型{% endcomment %}
            var plan_date = $('#i_3').val(); //完成期限
            var makesure_time = $('#i_5').val(); //开发季样品底线确认日
            var explain = $('#i_6').val(); //开发说明

            $('#sel_1').bind('click', function () {

                var number = $('#i_1').val();
                if (number == '' || number == null) {
                    alert('请输入开发单号')
                    return false;
                } else {
                    $.ax(
                        'http://127.0.0.1:8000/order/sketch_develop/', {
                            "number": number,
                            "view": "view"
                        },
                        null,
                        null,
                        null,
                        function (data) {
                            //渲染数据

                            if (data.status == 'fail' || data.status == 'unknown') {
                                alert('请检查开发单号是否正确');
                            } else {

                                var number = $('#i_1').val(data.data.sketch_develop.number); //开发单号
                                var receive_date = $('#i_2').val(data.data.sketch_develop.receive_date); //收到时间
                                if (data.data.sketch_develop.category != null) {

                                    selected($('#s_10'), data.data.sketch_develop.category.code);//开发系列
                                }
                                if (data.data.sketch_develop.developer != null) {

                                    selected($('#s_13'), data.data.sketch_develop.developer.name);//开发人员
                                }
                                if (data.data.sketch_develop.customer != null) {

                                    selected($('#s_11'), data.data.sketch_develop.customer.name);//客户
                                }
                                var season = $('#i_4').val(data.data.sketch_develop.season); //开发季节
                                if (data.data.sketch_develop.department != null) {

                                    selected($('#s_12'), data.data.sketch_develop.department.name);//开发部门
                                }
                                var functions = $('#s_14').val(data.data.sketch_develop.function.func_name); //开发用途
                                if (data.data.sketch_develop.undertake != null) {

                                    selected($('#s_17'), data.data.sketch_develop.undertake.name);//承办员
                                }
                                var plan_date = $('#i_3').val(data.data.sketch_develop.plan_date); //完成期限
                                var makesure_time = $('#i_5').val(data.data.sketch_develop.makesure_time); //开发季样品底线确认日
                                var explain = $('#i_6').val(data.data.sketch_develop.explain); //开发说明
                                $('#d_1').html('');
                                //遍历item明细
                                var text = "";
                                text += " <table border=\"\" cellspacing=\"\" cellpadding=\"\">";
                                text += "            <tr>";
                                text += "<th><label>ITEM ID</label></th>";
                                text += "                <th><label>产品编码</label></th>";
                                text += "                <th><label>产品名称</label></th>";
                                text += "                <th><label>承办人员</label></th>";
                                text += "                <th><label>套几</label></th>";
                                text += "                <th><label>完成</label></th>";
                                text += "            </tr>";
                                for (var i in data.data.sketch_detail) {
                                    text += "            <tr>";
                                    text += "                <td>" + data.data.sketch_detail[i].id + "</td>";
                                    text += "                <td>" + data.data.sketch_detail[i].item_number + "</td>";
                                    text += "                <td>" + data.data.sketch_detail[i].texture_id.name + "</td>";
                                    text += "                <td>" + data.data.sketch_detail[i].fmr_undertake_id.name + "</td>";
                                    if (data.data.sketch_detail[i].case == null) {
                                        text += "<td></td>";
                                    } else {
                                        text += "                <td>" + data.data.sketch_detail[i].case + "</td>";
                                    }
                                    if (data.data.sketch_detail[i].is_finish == 'False' || data.data.sketch_detail[i].is_finish == null) {
                                        text += "<td>N</td>";
                                    } else {
                                        text += "<td>Y</td>";
                                    }
                                    text += "            </tr>";
                                }
                                text += "        </table>";
                                $('#d_1').html(text);

                            }
                        },
                        function () {
                            alert("出错了");
                        }
                    );
                }
            });
            $('#del_1').bind('click', function () {
                {% comment %} var number = $('#i_1').val();
                 if (number == '' || number == null) {
                     alert('请输入开发单号')
                     return false;
                 } else {
                     $.ax(
                         '', {
                             "number": number,
                             "delete": "delete"
                         },
                         null,
                         null,
                         null,
                         function (data) {
                             alert(data.data.msg)
                         },
                         function () {
                             alert("出错了");
                         }
                     );
                 }{% endcomment %}
                alert('暂时无法删除');
            });
            $('#upd_1').bind('click', function () {

                var number = $('#i_1').val(); //开发单号
                var receive_date = $('#i_2').val(); //收到时间
                var category = $('#s_10').val(); //开发系列
                var developer = $('#s_13').val(); //开发人员
                var customer = $('#s_11').val(); //客户
                var season = $('#i_4').val(); //开发季节
                var department = $('#s_12').val(); //开发部门
                var functions = $('#s_14').val(); //开发用途
                var undertake = $('#s_17').val(); //承办员
                var plan_date = $('#i_3').val(); //完成期限
                var makesure_time = $('#i_5').val(); //开发季样品底线确认日
                var explain = $('#i_6').val(); //开发说明
                var data = {
                    "number": number,
                    "receive_date": receive_date,
                    "category": category,
                    "developer": developer,
                    "customer": customer,
                    "season": season,
                    "department": department,
                    "function": functions,
                    "undertake": undertake,
                    "plan_date": plan_date,
                    "makesure_time": makesure_time,
                    "explain": explain,
                    "modify": "modify"
                };
                //表单数据验证
                if (number == '' || number == null) {
                    alert('请输入开发单号')
                    return false;
                } else {
                    $.ax(
                        '/order/sketch_develop/',
                        data,
                        null,
                        null,
                        null,
                        function (data) {
                            alert(data.msg);
                        },
                        function () {
                            alert("出错了");
                        }
                    );
                }
            });
            $('#ins_1').bind('click', function () {

                var number = $('#i_1').val(); //开发单号
                var receive_date = $('#i_2').val(); //收到时间
                var category = $('#s_10').val(); //开发系列
                var developer = $('#s_13').val(); //开发人员
                var customer = $('#s_11').val(); //客户
                var season = $('#i_4').val(); //开发季节
                var department = $('#s_12').val(); //开发部门
                var functions = $('#s_14').val(); //开发用途
                var undertake = $('#s_17').val(); //承办员
                var plan_date = $('#i_3').val(); //完成期限
                var makesure_time = $('#i_5').val(); //开发季样品底线确认日
                var explain = $('#i_6').val(); //开发说明
                var data = {
                    "number": number,
                    "receive_date": receive_date,
                    "category": category,
                    "developer": developer,
                    "customer": customer,
                    "season": season,
                    "department": department,
                    "function": functions,
                    "undertake": undertake,
                    "plan_date": plan_date,
                    "makesure_time": makesure_time,
                    "explain": explain,
                    "add": "add"
                };
                //表单数据验证
                if (number == '' || number == null) {
                    alert('请输入开发单号')
                    return false;
                } else {
                    $.ax(
                        '/order/sketch_develop/',
                        data,
                        null,
                        null,
                        null,
                        function (data) {
                            alert(data.msg);
                            //渲染数据
                        },
                        function () {
                            alert(data.data.msg);
                        }
                    );
                }
            });
            $('#fir_1').bind('click', function () {
                $.ax(
                    '/order/sketch_develop/', {
                        "first": "first"
                    },
                    null,
                    null,
                    null,
                    function (data) {
                        //渲染数据
                        showDatas(data);
                    },
                    function () {
                        alert("出错了");
                    }
                );
            });
            $('#las_1').bind('click', function () {
                var number = $('#i_1').val(); //开发单号
                if (number == '' || number == null) {
                    alert('请输入开发单号');
                } else {
                    $.ax(
                        '/order/sketch_develop/', {
                            "last": "last",
                            "number": number,
                        },
                        null,
                        null,
                        null,
                        function (data) {
                            //渲染数据
                            showDatas(data);
                            //遍历item明细
                        },
                        function () {
                            alert("出错了");
                        }
                    );
                }
            });
            $('#nex_1').bind('click', function () {
                var number = $('#i_1').val(); //开发单号
                if (number == '' || number == null) {
                    alert('请输入开发单号');
                } else {
                    $.ax(
                        '/order/sketch_develop/', {
                            "next": "next",
                            "number": number,
                        },
                        null,
                        null,
                        null,
                        function (data) {
                            //渲染数据
                            showDatas(data);
                            //遍历item明细
                        },
                        function () {
                            alert("出错了");
                        }
                    );
                }
            });
            $('#fin_1').bind('click', function () {

                $.ax(
                    '/order/sketch_develop/', {
                        "final": "final"
                    },
                    null,
                    null,
                    null,
                    function (data) {
                        //渲染数据
                        showDatas(data);
                        //遍历item明细
                    },
                    function () {
                        alert("出错了");
                    }
                );

            });

            $('#item_detail').bind('click', function () {
                var number = $('#i_1').val(); //开发单号
                if (number == null || number == '') {
                    window.location.href = "/order/sketch_detail";
                } else {
                    window.location.href = "/order/sketch_detail/?number=" + number;
                }
            });

            function showDatas(data) {

                if (data.status == 'fail' || data.status == 'unknown') {
                    alert(data.msg);
                } else {

                    var number = $('#i_1').val(data.data.sketch_develop.number); //开发单号
                    var receive_date = $('#i_2').val(data.data.sketch_develop.receive_date); //收到时间

                    selected($('#s_10'), data.data.sketch_develop.category.code);//开发系列

                    selected($('#s_13'), data.data.sketch_develop.developer.name);//开发人员

                    selected($('#s_11'), data.data.sketch_develop.customer.code);//客户
                    var season = $('#i_4').val(data.data.sketch_develop.season); //开发季节

                    selected($('#s_12'), data.data.sketch_develop.department.name);//开发部门
                    var functions = $('#s_14').val(data.data.sketch_develop.function.func_name); //开发用途

                    selected($('#s_17'), data.data.sketch_develop.undertake.name);//承办员
                    var plan_date = $('#i_3').val(data.data.sketch_develop.plan_date); //完成期限
                    var makesure_time = $('#i_5').val(data.data.sketch_develop.makesure_time); //开发季样品底线确认日
                    var explain = $('#i_6').val(data.data.sketch_develop.explain); //开发说明
                    $('#d_1').html('');
                    //遍历item明细
                    var text = "";
                    text += " <table border=\"\" cellspacing=\"\" cellpadding=\"\">";
                    text += "            <tr>";
                    text += "                <th>开发单ID</th>";
                    text += "                <th>产品编码</th>";
                    text += "                <th>产品名称</th>";
                    text += "                <th>承办人员</th>";
                    text += "                <th>套几</th>";
                    text += "                <th>完成</th>";
                    text += "            </tr>";
                    for (var i in data.data.sketch_detail) {
                        text += "            <tr>";
                        text += "                <td>" + data.data.sketch_detail[i].id + "</td>";
                        text += "                <td>" + data.data.sketch_detail[i].item_number + "</td>";
                        text += "                <td>" + data.data.sketch_detail[i].texture_id.name + "</td>";
                        text += "                <td>" + data.data.sketch_detail[i].fmr_undertake_id.name + "</td>";
                        if (data.data.sketch_detail[i].case == null) {
                            text += "<td></td>";
                        } else {
                            text += "                <td>" + data.data.sketch_detail[i].case + "</td>";
                        }
                        if (data.data.sketch_detail[i].is_finish == 'False' || data.data.sketch_detail[i].is_finish == null) {
                            text += "<td>N</td>";
                        } else {
                            text += "<td>Y</td>";
                        }
                        text += "            </tr>";
                    }
                    text += "        </table>";
                    $('#d_1').html(text);
                }
            }
        });
    </script>

</head>

<body>
<div id="na">
    {% include 'order/index.html' %}
</div>
<div style="text-align: -webkit-center;">
    <!--<form action="" method="post">-->
    <div class="topbutton">
        {% if perms.Order.view_sketch_develop %}
            <button id="fir_1" value="button" name="first">第一条</button>
            <button id="las_1" value="button" name="last">上一条</button>
            <button id="nex_1" value="button" name="next">下一条</button>
            <button id="fin_1" value="button" name="final">最后一条</button>
        {% endif %}
        {% if perms.Order.add_sketch_develop %}
            <button id="ins_1" value="button" name="add">保存信息</button>
        {% endif %}
        {% if perms.Order.delete_sketch_develop %}
            <button id="del_1" value="button" name="delete">删除信息</button>
        {% endif %}
        {% if perms.Order.change_sketch_develop %}
            <button id="upd_1" value="button" name="modify">修改信息</button>
        {% endif %}
        {% if perms.Order.view_sketch_develop %}
            <button id="sel_1" value="button" name="view">查询信息</button>
        {% endif %}
    </div>

    <table style="border: solid 1px black;">
        <tr>
            <td>
                <lable id="l_a1">开发单号</lable>
            </td>
            <td><input id="i_1" type="text" name="number" value=""/></td>
            <td>
                <lable id="l_a2">收到时间</lable>
            </td>
            <td><input id="i_2" type="text" name="receive_date" value=""/></td>
        </tr>

        <tr>
            <td>
                <lable id="l_a10">开发系列</lable>
            </td>
            <td>
                {% comment %}<input type="text" id="s_10" name="category_id"/>{% endcomment %}
                <select id="s_10" name="category">
                    <option value="">请选择</option>
                </select>
                <label style="color: red;">(英文-中文)</label>
            </td>
            <td>
                <lable id="l_a13">开发人员</lable>
            </td>
            <td>
                {% comment %}<input type="text" id="s_13" name="developer"/>{% endcomment %}
                <select id="s_13" name="developer">
                    <option value="">请选择</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <lable id="l_a11">客户</lable>
            </td>
            <td>
                {% comment %}<input type="text" name="customer_id" id="s_11"/>{% endcomment %}
                <select name="customer" id="s_11">
                    <option value="">请选择</option>
                </select>
            </td>
            <td>
                <lable id="l_a4">开发季节</lable>
            </td>
            <td><input id="i_4" type="text" name="season" value=""/></td>
        </tr>
        <tr>
            <td>
                <lable id="l_a12">开发部门</lable>
            </td>
            <td>
                <select id="s_12" type="text" name="department">
                    <option value="">请选择</option>

                </select>
            </td>
            <td>
                <lable id="l_a14">开发用途</lable>
            </td>
            <td>
                <select id="s_14" type="text" name="function">
                    <option value="">请选择</option>

                </select>
            </td>
        </tr>
        <tr>
            <td>
                <lable id="l_a17">承办员</lable>
            </td>
            <td>
                {% comment %}<input type="text" name="" id="s_17"/>{% endcomment %}
                <select name="undertake" id="s_17">

                    <option value="">请选择</option>
                </select>
            </td>
            <td>
                <lable id="l_a3">完成期限</lable>
            </td>
            <td><input id="i_3" type="text" name="plan_date" value=""/></td>
        </tr>
        <tr>
            <!--<td>
                    <lable id="l_a7">是否完成</lable>
                </td>
                <td> 是<input id="i_7" type="radio" name="is_finish" value="True"/>
                    否<input id="i_7_1" type="radio" name="is_finish" value="False"/>
                </td>-->
            <td>
                <lable id="l_a5">开发季样品底线确认日</lable>
            </td>
            <td><input id="i_5" type="text" name="makesure_time" value=""/></td>
        </tr>
        {% comment %}<tr>
            <td>
                <label>类型</label>
            </td>
            <td>
                <select name="sketch_name" id="s_18">
                    <option value="">请选择</option>
                </select>
            </td>
        </tr>{% endcomment %}
        <tr>
            <td>
                <lable id="l_a6">开发说明</lable>
            </td>
            <td colspan="3">
						<textarea id="i_6" name="explain" rows="3" cols="55" value="">
							
							</textarea>
            </td>
        </tr>

    </table>  <!--</form>-->
    <div>
        <button id="item_detail">ITEM 明细</button>
    </div>
    <div id="d_1">
        <table border="" cellspacing="" cellpadding="">
            <tr>
                <th><label>ITEM ID</label></th>
                <th><label>产品编码</label></th>
                <th><label>产品名称</label></th>
                <th><label>承办人员</label></th>
                <th><label>套几</label></th>
                <th><label>完成</label></th>
            </tr>

        </table>
    </div>

</div>
</body>
</html>