<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>事项展示</title>
    <script type="text/javascript" src="/static/js/2.1.4jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/tongyong.js"></script>
    <script type="text/javascript">
        $(function () {
            var data ={{ data|safe }};
            debugger;
            showTodayCase(data);

            function showTodayCase(data) {
                $('#todayCase').html('');
                var text = '';
                text += "<table border=\"1\">";
                text += "                <thead>";
                text += "                <th>";
                text += "                    <input type=\"checkbox\" id=\"check\"/>";
                text += "                </th>";
                text += "                <th>";
                text += "                    <label>工厂</label>";
                text += "                </th>";
                text += "                <th>";
                text += "                    <label>订单PO号</label>";
                text += "                </th>";
                text += "                <th>";
                text += "                    <label>订单item号</label>";
                text += "                </th>";
                text += "                <th>";
                text += "                    <label>品名</label>";
                text += "                </th>";
                text += "                <th>";
                text += "                    <label>数量</label>";
                text += "                </th>";
                text += "                <th>";
                text += "                    <label>事项内容</label>";
                text += "                </th>";
                text += "                <th>";
                text += "                    <label>应该完成时间</label>";
                text += "                </th>";
                text += "                <th>";
                text += "                    <label>是否完成</label>";
                text += "                </th>";
                text += "                <th>";
                text += "                    <label>实际完成时间</label>";
                text += "                </th>";
                text += "                <th>";
                text += "                    <label>操作人</label>";
                text += "                </th>";
                text += "                <th>";
                text += "                    <label>操作</label>";
                text += "                </th>";
                text += "                <th>";
                text += "                    <label>备注</label>";
                text += "                </th>";
                text += "                <th>";
                text += "                    <label>是否上传</label>";
                text += "                </th>";
                text += "                </thead>";
                text += "                <tbody>";
                for (var i in data.data.reminds) {

                    if (data.data.reminds[i].fields.is_order == 'False') {
                        //无关于订单
                        text += "                <tr>";
                        text += "                    <td><input type=\"checkbox\"></td>";
                        text += "                    <td></td>";
                        text += "                    <td></td>";
                        text += "                    <td></td>";
                        text += "                    <td></td>";
                        text += "                    <td></td>";
                        text += "                    <td>" + data.data.reminds[i].fields.event.name + "</td>";
                        text += "                    <td>" + data.data.reminds[i].fields.plan_date + "</td>";
                        if (data.data.reminds[i].fields.status == 'True') {
                            text += "<td> <font color=\"green\">已完成</font></td>";
                        } else {
                            text += "<td> <font color=\"red\">未完成</font></td>";
                        }

                        text += "                    <td>" + data.data.reminds[i].fields.actual_date + "</td>";
                        text += "                    <td>" + data.data.reminds[i].fields.person + "</td>";
                        if (data.data.reminds[i].fields.status == 'True') {
                            text += "<td> </td>";
                        } else {
                            text += "<td> <span id=\"sp" + data.data.reminds[i].pk + "\"> <button color=\"red\" onclick=\"complete('" + data.data.reminds[i].pk + "')\">确认完成</button></span></td>";
                        }
                        text += "<td><input type=\"date\" id=\"in"+data.data.reminds[i].pk+"\"><button id=\"btn\" onclick=\"extension('"+data.data.reminds[i].pk+"')\">延期</button> </td>";
                        if (data.data.reminds[i].fields.is_upload_file == 'True') {
                            //上传文件

                            text += "<td> <input type=\"file\" id=\"file" + data.data.reminds[i].pk + "\"/></td>";
                        } else {
                            text += "                    <td></td>";
                            {#text += "<td> <input type=\"file\" id=\"file" + data.data.reminds[i].pk + "\"/></td>";#}
                        }


                        text += "                </tr>";
                    } else if (data.data.reminds[i].fields.is_order == 'True') {
                        //订单相关
                        text += "                <tr>";
                        text += "                    <td><input type=\"checkbox\"></td>";
                        text += "                    <td> " + data.data.reminds[i].fields.factory + "</td>";
                        text += "                    <td>" + data.data.reminds[i].fields.po + "</td>";
                        text += "                    <td>" + data.data.reminds[i].fields.item_no + "</td>";
                        text += "                    <td>" + data.data.reminds[i].fields.desc + "</td>";
                        text += "                    <td>" + data.data.reminds[i].fields.amount + "</td>";
                        text += "                    <td>" + data.data.reminds[i].fields.event.name + "</td>";
                        text += "                    <td>" + data.data.reminds[i].fields.plan_date + "</td>";
                        if (data.data.reminds[i].fields.status == 'True') {
                            text += "<td> <font color=\"green\">已完成</font></td>";
                        } else {
                            text += "<td> <font color=\"red\">未完成</font></td>";
                        }
                        text += "                    <td>" + data.data.reminds[i].fields.actual_date + "</td>";
                        text += "                    <td>" + data.data.reminds[i].fields.person + "</td>";
                        if (data.data.reminds[i].fields.status == 'True') {
                            text += "<td> </td>";
                        } else {
                            text += "<td> <span id=\"sp" + data.data.reminds[i].pk + "\"> <button color=\"red\" onclick=\"complete('" + data.data.reminds[i].pk + "')\">确认完成</button></span></td>";
                        }
                        text += "<td><input type=\"date\" id=\"in"+data.data.reminds[i].pk+"\"><button id=\"btn\" onclick=\"extension('"+data.data.reminds[i].pk+"')\">延期</button> </td>";
                        if (data.data.reminds[i].fields.is_upload_file == 'True') {
                            //上传文件

                            text += "<td> <input type=\"file\" id=\"file" + data.data.reminds[i].pk + "\"/></td>";
                        } else {
                            text += "                    <td></td>";
                            {#text += "<td> <input type=\"file\" id=\"file" + data.data.reminds[i].pk + "\"/></td>";#}
                        }
                        text += "                </tr>";
                    }

                }
                text += "                </tbody>";
                text += "";
                text += "            </table>";
                text += "            <label>共 " + data.page_info.page_max + "页 &nbsp;当前第 <span id=\"todayPage\">" + data.page_info.page_now + "</span> 页</label>";
                $('#todayCase').html(text);
            }

            //当日事项翻页
            $('#first_d').bind('click', function () {
                var plan_date = getQueryVariable('plan_date');
                $.ajax({
                    url: '/pom/show_all_reminds_detail/',
                    type: 'post',
                    async: false,
                    data: {
                        'plan_date': plan_date,
                        'first': 'first'
                    },
                    success: function (data) {
                        showTodayCase(data);
                    }
                });
            });
            $('#last_d').bind('click', function () {
                var plan_date = getQueryVariable('plan_date');
                var page = $('#todayPage').text();
                $.ajax({
                    url: '/pom/show_all_reminds_detail/',
                    type: 'post',
                    async: false,
                    data: {
                        'plan_date': plan_date,
                        'last': 'last',
                        'page': page
                    },
                    success: function (data) {
                        showTodayCase(data);
                    }

                });

            });
            $('#next_d').bind('click', function () {
                var plan_date = getQueryVariable('plan_date');
                var page = $('#todayPage').text();
                $.ajax({
                    url: '/pom/show_all_reminds_detail/',
                    type: 'post',
                    async: false,
                    data: {
                        'plan_date': plan_date,
                        'next': 'next',
                        'page': page
                    },
                    success: function (data) {
                        debugger;
                        showTodayCase(data);
                    }

                });

            });
            $('#final_d').bind('click', function () {
                var plan_date = getQueryVariable('plan_date');
                $.ajax({
                    url: '/pom/show_all_reminds_detail/',
                    type: 'post',
                    async: false,
                    data: {
                        'plan_date': plan_date,
                        'final': 'final'
                    },
                    success: function (data) {
                        showTodayCase(data);
                    }
                });
            });
        });

        //点击完成事项
        function complete(id) {
            //完成事项同时文件上传提交
            var formdata = new FormData();
            if ($('#file' + id).length > 0) {
                var file = $('#file' + id)[0].files[0];
                formdata.append('file', file);
            }
            formdata.append('id', id);
            $.ajax({
                url: '/pom/refresh_status/',
                type: 'post',
                data: formdata,
                processData: false, // 不处理数据( 必须有)
                contentType: false,  //不设置内容类型 ( 必须要)
                success: function (data) {
                    debugger;
                    //判断完成事项是否成功
                    if (data.status == 'success') {
                        //成功则修改页面显示
                        $('#sp' + id).html('');
                        $('#sp' + id).parent().prev().prev().html("" + new Date().Format("yyyy-MM-dd"));
                        $('#sp' + id).parent().prev().prev().prev().html("<font color=\"green\">已完成</font>");
                        //可展示回显功能
                    } else {
                        alert(data.msg);
                    }
                }
            })
        }
         //事项延期
        function extension(id) {
            var date = $('#in' + id).val();
            if (date == '' || date == null) {
                alert('请输入日期');
            } else {
                date = new Date(date).Format("yyyy-MM-dd");
                console.log(date);
                $.ajax({
                    url: '/pom/delay/',
                    type: 'post',
                    async: false,
                    data: {
                        'id': id,
                        'plan_date': date,
                        'delay': "delay"
                    },
                    success: function (data) {
                        alert(data.msg);
                    }
                });
            }
        }
    </script>
</head>


<body>
<div id="content">
    <hr/>
    <label>
        当天监控事项
    </label>
    <hr/>
    <div id="todayCase">
        <table border="1">
            <thead>
            <th>
                <input type="checkbox" id="check"/>
            </th>
            <th>
                <label>工厂</label>
            </th>
            <th>
                <label>订单PO号</label>
            </th>
            <th>
                <label>订单item号</label>
            </th>
            <th>
                <label>品名</label>
            </th>
            <th>
                <label>数量</label>
            </th>
            <th>
                <label>事项内容</label>
            </th>
            <th>
                <label>应该完成时间</label>
            </th>
            <th>
                <label>是否完成</label>
            </th>
            <th>
                <label>实际完成时间</label>
            </th>
            <th>
                <label>操作人</label>
            </th>
            <th>
                <label>操作</label>
            </th>
            <th>
                <label>备注</label>
            </th>
            <th>
                <label>是否上传</label>
            </th>
            </thead>
            <tbody>
            <tr>
                <td><input type="checkbox"></td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
            </tr>
            </tbody>

        </table>
        <label>共 79页 &nbsp;当前第 70 页</label>
    </div>
    <br/>
    <button id="first_d">&laquo;</button>
    <button id="last_d">&lt;</button>
    <button id="next_d">&gt;</button>
    <button id="final_d">&raquo;</button>
    <br/>
</div>

</body>

</html>